.LabList{
    background-color: red;
    width: 367px;
    position: relative;
}
.results{
    margin: 15px 0;
}
.result{
    margin-bottom: 15px;
    padding: 11px 16px;
}
.result:nth-child(2){
    background-color: #F6F7F8;
}