.mainContainer{
    align-items: start;
    justify-content: space-between;
    gap: 33px;
    margin-top: 32px;
}
/* .mainContainer > div{
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 20px 15px;
}  */

