header {
  background-color: var(--white-color);
  margin-top: 18px;
  box-shadow: 0 0 10px var(--white-color);
  margin-inline: 18px;
  border-radius: 70px;
}
nav {
  padding: 5px 0;
}
header .logo img {
  height: 30px;
}
.menuIcon {
  display: none;
}
ul {
  margin: 0;
}
ul li {
  margin-right: 20px;
}

ul li.active {
  background-color: var(--active-bg-dark-color);
  border-radius: 41px;
  padding: 5px 10px;
}
ul span {
  padding-left: 9px;
}
.profile {
  height: 50px;
}
.profile .profileText {
  margin-left: 5px;
  height: 32px;
}
.profileInfo {
  padding-right: 5px;
  border-right: 1px solid var(--light-grey-border-color);
}
.profile h2 {
  margin-bottom: -5px;
}
.profileText h2,
.profileText p {
  white-space: nowrap;
}
.settingImg {
  margin: 0 12px;
}
@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }
  .navLink {
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1112px) {
  .navLink li {
    margin-right: 10px;
  }
  .profileInfo {
    padding-left: 0;
  }
}
