.sidebar{
    width: 30%;
    position: relative;
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 20px 15px;
}
.patientsList{
    margin-top: 20px;
    margin-right: 15px;
}
.patientitemInfo{
    padding-left: 12px;
}
.patientitemInfo h4{
    margin-bottom: 0px;
}
.patientitem{
    margin-bottom: 32px;
}
